body {
  background: linear-gradient(
    180deg,
    rgba(3, 6, 55, 1) 0%,
    rgba(60, 7, 83, 1) 50%
  );
}
.form-container {
  width: auto;
  height: auto;
  padding: 20px;
  border: 5px double rgba(139, 125, 32, 0.3);
  box-shadow: 0 0 15px rgba(254, 221, 1, 0.987);
}

.auth {
  width: auto;
  border: 5px double rgba(139, 125, 32, 0.3);
  box-shadow: 0 0 15px rgba(254, 221, 1, 0.987);
  padding: 20px;
  margin: 30px auto;
}

h2 {
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

label {
  margin-bottom: 20px;
  color: #ffffff;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 20px;
  background-color: #ffffff;
  color: black;
}

button {
  width: 50%;
  margin: auto;
  color: white;
  cursor: pointer;
}

.error {
  color: red;
}

.success {
  color: green;
}
